---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPosts, slugify, uniqueValues, tagColor } from "../../lib/posts";

const categories = uniqueValues(getPosts(), "categories");
---

<BaseLayout title="Categories" type="categories">
  <div id="archives">
    <div class="categories-tags">
      {categories.map((category, index) => (
        <span>
          <a href={`/categories/${slugify(category)}/`} style={`background: ${tagColor(index)}`}>
            <span class="icon"><i class="fa-solid fa-bookmark fa-fw"></i></span>
            {category}
          </a>
        </span>
      ))}
    </div>
  </div>
</BaseLayout>
